
.appstoreBadgeBottom {
  display: inline-block; 
  overflow: hidden; 
  background: url(http://linkmaker.itunes.apple.com/assets/shared/badges/en-us/macappstore-lrg.svg) 0% 0% / contain no-repeat; 
  width: 240px; 
  height: 60px;
}

.bottomBadges {
  margin: 0 auto;
  text-align: center;
}