.features {
  padding-top: 1.3em;
  margin-top: 3em;
}

@media only screen and (min-width: 767px) {
  .features {
    margin-bottom: 1.5em;
  }
}

.features img {
  padding-top: 0em;
}

.features p {
  margin-bottom: 1.45rem;
}