@import '../variables.scss';

.footer {
	display: flex;
	padding: 1.5rem 1.5rem;
  line-height: 1.5rem;
  background-color: aqua;
	a {
		border-bottom: 1px solid;
		color: green;
	}
	a:hover {
		color: $secondary-color;
	}
}
