
.dmfooter {
	xdisplay: flex;
	xpadding: 1.5rem 1.5rem;
  xline-height: 1.5rem;
  xbackground-color: aqua;
  margin-top: 2em;
  xbackground-color: #ffffff;
  xmargin: 0;
  xpadding: 0;
  margin-bottom: 1em;
}

.copyright {
  xpadding-bottom: 1em;
}